In [12]:
student = {
    "name" : "nensi",
    "age" : 20
}
print(student.get("name"))
student["city"] = "new york"
print(student)
remove = student.pop("city")
print(remove)
student.popitem()

nensi
{'name': 'nensi', 'age': 20, 'city': 'new york'}
new york

('age', 20)

In [22]:
student = {
    "name" : "nensi",
    "age" : 20
}
for key in student:
    print(key + ":", student[key])

for item in student:
    print(item)
student.copy()
print(student)
student.clear()
print(student)

name: nensi
age: 20
name
age
{'name': 'nensi', 'age': 20}
{}

In [16]:
student.keys()
student.values()
student.items()
student.clear()
student.copy()

{}

In [4]:
s = "nensi"
freq = {}

for ch in s:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1
print(freq)

{'n': 2, 'e': 1, 's': 1, 'i': 1}

In [35]:
data = {"name": "nensi",
         "age": 20, 
         "color":None}
cleaned = {}
for key, value in data.items():
    if value is not None:
        cleaned[key] = value

print(cleaned)

{'name': 'nensi', 'age': 20}

In [41]:
data = {"name": "nensi",
         "age": 20, 
         "color":None}
sorted_data = dict(sorted(data.items()))
print(sorted_data)

{'age': 20, 'color': None, 'name': 'nensi'}

In [44]:
data = {"a": 1, "b":4}
inverted = {}

for key, value in data.items():
    inverted[value] = key
print(inverted)

{1: 'a', 4: 'b'}

In [46]:
a ={"a": 1}
b = {"a":1}
print(a == b)

True

In [48]:
key = ["name", "age"]
value= ["nensi", 20]
a = dict(zip(key, value))
print(a)

{'name': 'nensi', 'age': 20}

In [88]:
data = {
    "emp1" : {"name":"nensi", "age":20, "salary":20},
    "emp2" : {"color":"red", "salary":20000 }
}
print(data["emp1"]["name"])
print(data["emp1"]["age"])
data["emp1"]["department"] = "AI"
print(data)
data["emp2"].pop("salary")
print(data)
count_emp = len(data)
print(count_emp)
count = 0
for emp in data.values():
    if "salary" in emp:
        count += 1
print(count)
for emp in data.values():
    if "name" in emp:
        print(emp["name"])
for emp in data.values():
    if "age" in emp and emp["age"] <= 21:
        print("you are eligible for voting")

nensi
20
{'emp1': {'name': 'nensi', 'age': 20, 'salary': 20, 'department': 'AI'}, 'emp2': {'color': 'red', 'salary': 20000}}
{'emp1': {'name': 'nensi', 'age': 20, 'salary': 20, 'department': 'AI'}, 'emp2': {'color': 'red'}}
2
1
nensi
you are eligible for voting

In [95]:
data = {
    "emp2": {"name": "rahul", "salary": 20000},
    "emp3": {"name": "priya", "salary": 60000}
}
for emp in data.values():
    if "salary" in emp:
        emp["salary"] = emp["salary"] * 0.10
print(data)

{'emp2': {'name': 'rahul', 'salary': 2000.0}, 'emp3': {'name': 'priya', 'salary': 6000.0}}

In [10]:
data = {
    "emp2": {"name": "rahul", "salary": 20000},
    "emp3": {"name": "priya", "salary": 60000}
}
for emp in data.values():
    if "salary" in emp and emp["salary"] >= 55000:
        emp["salary"] = emp["salary"] * 0.10
print(data)

{'emp2': {'name': 'rahul', 'salary': 20000}, 'emp3': {'name': 'priya', 'salary': 6000.0}}