In [2]:
t = (10, 20, 30, 40)
print(t)

(10, 20, 30, 40)

In [4]:
t = (10, 20, 30, 40)

print(t[0])    
print(t[-1])

10
40

In [6]:
t = (10, 20, 30, 40)

print(t[1:3])

(20, 30)

In [8]:
t = (10, 20, 30, 40)

print(len(t))

4

In [10]:
t = (10, 20, 30, 40)

print(30 in t)

True

In [12]:
a = (1, 2, 3)
b = (4, 5)

result = a + b
print(result)

(1, 2, 3, 4, 5)

In [15]:
t = (1, 2)

print(t * 2)

(1, 2, 1, 2)

In [17]:
a = 5
b = 10

a, b = b, a
print(a, b)

10 5

In [20]:
t = (99, 7, 6)
print(t.index(99))

0

In [22]:
t = (10, 25, 5, 40, 15)

print("Max:", max(t))
print("Min:", min(t))
print("Sum:", sum(t))
print(t.count(25))

Max: 40
Min: 5
Sum: 95
1

In [23]:
t = (1, 2, 3, 4)

lst = list(t)      # convert to list
lst.append(5)      # modify
t = tuple(lst)     # convert back to tuple

print(t)

(1, 2, 3, 4, 5)

In [26]:
t = ()

if not t:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is empty

In [28]:
t = (10,)
print(type(t))

<class 'tuple'>

In [30]:
t = (5, 10, 15, 20)

total = sum(t)
print(total)
product = 1
for num in t:
    product *= num
print(product)

50
15000

In [ ]:
t = (0, 1, 3, 3, 4, 5)
print(t[::-1])
print(t[::2])

if len(t) == len(set(t)):
    print("all are uniqe")
else:
    print("not all are unique")

(5, 4, 3, 3, 1, 0)
(0, 3, 4)
not all are unique

In [47]:
t = (0, 1, 3, 3, 4, 5)
count = 0
for num in t:
    if num % 2 == 0:
        count += 1
print(count)

2

In [54]:
t = (0, 1, 3, 3, 4, 5)
unique = list(set(t))
unique.sort(reverse=True)
second_largest = unique[1]
print(second_largest)

4

In [57]:
t = (1, 2, 3, 2, 1)

if t == t[::-1]:
    print("it is palindrome")
else:
    print("not a palindrome")

it is palindrome

In [60]:
t = (1, 3, 5)

odd_num = 0

for num in t:
    if num % 2 != 0:
        odd_num += num
print(odd_num)

9

In [65]:
t = ("hii", "nensi")
upper_case = tuple(s.upper() for s in t)
print(upper_case)
lower_case = tuple(s.lower() for s in t)
print(lower_case)

('HII', 'NENSI')
('hii', 'nensi')

In [69]:
t = (1, 2, 3, 4, 5)
unique = tuple(set(t))
smallest_num = sorted(unique)[1]
print(smallest_num)
print(type(smallest_num))

2
<class 'int'>

In [72]:
t = (10, 20, 30, 40)
a = (2, 3, 30, 5)
result = t + a
print(result)
print(tuple(set(result)))

(10, 20, 30, 40, 2, 3, 30, 5)
(2, 3, 5, 40, 10, 20, 30)

In [75]:
t = (1, 2, 3)
x = int(input("enter a number to find index: "))
if x in t:
    print("index:", t.index(x))
else:
    print("not found")

index: 1

In [77]:
t = (2, 4, 6)
result = []
for num in t:
    result.append(num ** 2)
print(tuple(result))

(4, 16, 36)

In [80]:
t = (5, 4, 6, 4, 5, 6, 7)
pairs = []
for i in range(len(t)):
    for j in range(i + 1, len(t)):
        if t[i] + t[j] == 10:
            pairs.append((t[i], t[j]))
print(pairs)

[(5, 5), (4, 6), (4, 6), (6, 4), (4, 6)]

In [82]:
t = (1, 3, 5, 7, 2, 4, 6, 8)
even_num = tuple(num for num in t if num % 2 == 0)
print(even_num)
odd_num = tuple(num for num in t if num % 2 != 0)
print(odd_num)

(2, 4, 6, 8)
(1, 3, 5, 7)

In [87]:
t = (1, 2, 3, 4, 5, 6)
k = 2
rotedted = t[k:] + t[:k]
print(rotedted)

(3, 4, 5, 6, 1, 2)