In [2]:
class employee:
    name = "nensi"
    age = 20
s1 = employee()
print(s1.name)
print(s1.age)

nensi
20

In [5]:
class test:
    def _init_(self):
        print("constructor execusion")
t1 = test()
print(t1)

<__main__.test object at 0x000001DFC7E1D110>

In [13]:
class student:
    def __init__(self,name, age):
        self.name = name
        self.age = age

s1 = student("nensi", 20)
s2 = student("ruhu", 21)
print(s1.name, s1.age)
print(s2.name, s2.age)

nensi 20
ruhu 21

In [24]:
class employee:
    company_name = "Elision"
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
emp1 = employee("nensi",30000)
emp2 = employee("ruhu", 67000)
print(emp1.name, emp1.salary)
print(emp2.name, emp2.salary)
print("Before change:",emp1.company_name)

emp1.company_name = "cyber"

print("class variable company name(origin):",employee.company_name)
print("After change: ",emp1.company_name)

nensi 30000
ruhu 67000
Before change: Elision
class variable company name(origin): Elision
After change:  cyber

In [28]:
class Employee:
    company_name = "Elision"

    @classmethod
    def change_company(cls, new_name):
        cls.company_name = new_name
employee.change_name = "google"
print(employee.company_name)
print(employee.change_name)

Elision
google

In [31]:
class employee:

    @staticmethod
    def is_high_salary(salary):
        return salary > 30000
print(employee.is_high_salary(40000))

True